 body {
            background-color: #242428; 
        }

                a {
            color: #fbf9fc; /* Mudei para Cinza claro para combinar com seu padrão */
            
            font-weight: bold; /* Deixa a letra mais "grossinha" para ler melhor */
        }

        /* Quando você passa o mouse, ele brilha em branco */
        a:hover {
            color: #eeeeee;
        }

        h1 {
        
        color: #fbf9fc;
        }